.btn:not([disabled]):not(.disabled) {
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: .15s ease-in-out;
    background: #ddd;
    color: #333;
    &:hover {
      background: $color3;
      color: $color2
    }
}

.btn-primary {
    color: #fff;
    background-color: $color1;
    border-color: $color1;
}

.btn-secundary {
    color: #fff;
    background-color: $color2;
    border-color: $color2;
}

.btnt-rounded {
  border-radius: 4rem;
}
