.footer {
  background: $color-dark;
  color: $color-white;
  width: 100%;

  .footer--content {
    padding: 100px 0;

    .footer--content--item {
      margin: 10px;

      ul {
        list-style: none;

        li {
          margin-bottom: 10px;

          a {
            color: rgba($color-white, .5);

            &:hover {
              color: rgba($color-white, 1);
            }
          }
        }
      }

      .footer--content--item-text {
        margin-bottom: 20px;
        font-weight: 900;
        font-size: 18px;
      }

      .footer--content--item--img {
        img {
          max-width: 90%;
          margin-right: 10px;
        }
      }
    }
  }
}

.rights {
  span {
    font-weight: 700;
    font-size: 22px;
  }

  p {
    color: rgba($color-white, .7);
  }
}

.social-media {
  li {
    margin: 0 10px;

    .fab {
      font-size: 22px;
    }
  }
}
