.header {
  min-height: 500px;
  width: 100%;
  background-color: $color2;
  color: $color-white;
  padding: 30px;
  box-sizing: border-box;
    .header--block {
      width: 500px;
      max-width: 90%;
      overflow: hidden;
      .header--block--logo {
        img {
          width: 300px;
          max-width: 100%;
        }
      }
    }
}
