.header {
  width: 100%;
  background: url(./../img/grid.svg), linear-gradient(-90deg, $color2, $color1);
  background-position: center center;
  background-size: 300px, 100%;
  color: $color-white;
  padding: 100px 0 0;
  box-sizing: border-box;
  overflow: hidden;

  .header--block {
    width: 500px;
    max-width: 90%;

    .header--block--text {
      h1 {
        font-size: 40px;
        line-height: 44px;
        text-align: center;
      }
    }

    .header--block--code {
      width: 100%;

      .code-block {
        transform: translateY(10px);
      }
    }
  }
}
