.header {
  width: 100%;
  color: $color-white;
  padding: 100px 0 0;
  box-sizing: border-box;
  overflow: hidden;

  .header--block {
    width: 700px;
    max-width: 90%;

    .header--block--text {
      h1 {
        font-size: 40px;
        line-height: 44px;
        text-align: center;
      }
    }

    .header--block--code {
      width: 100%;

      .code-block {
        transform: translateY(10px);
      }
    }
  }
}

.background-primary {
  background: url(./../img/grid.svg), linear-gradient(-30deg, $color-primary, $color-secundary, $color-secundary, $color-primary);
  background-position: center bottom, 100%;
  background-size: 110%, 100%;
  background-repeat: repeat-x;
}
