.menu {
  background: linear-gradient(-90deg, $color2, $color1);
  color: $color-white;

  .menu--content {
    height: 80px;

    .menu--content--logo {
      margin-left: 10px;

      img {
        width: 100px;
        max-width: 100%;
      }
    }

    .menu--content--links {
      ul {
        list-style: none;

        li {

          a {
            color: $color-white;
            font-weight: bold;
            margin: 2px;
            padding: 8px 12px;
            border-radius: 20px;
            transition: .3s;

            &.active,
            &:hover {
              color: $color-white;
              background: $color1;
            }
          }
        }
      }
      @media (max-width: 768px) {
        display: none;
      }
    }

    .menu--content--resposnive {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }

}
