.menu {
  color: $color-white;

  .menu--content {
    height: 80px;

    .menu--content--logo {
      margin-left: 10px;

      img {
        width: 80px;
        max-width: 100%;
      }
    }

    .menu--content--links {
      ul {
        list-style: none;

        li {
          a {
            color: $color-white;
            font-weight: bold;
            margin: 2px;
            padding: 8px 12px;
            border-radius: 20px;
            transition: 0.3s;

            &.active,
            &:hover {
              color: $color-white;
              background: $color-primary;
            }
          }
        }
      }
      @media (max-width: 768px) {
        display: none;
      }
    }

    .menu--content--responsive {
      display: none;
      align-items: center;
      justify-content: center;
      background: $color1;
      color: $color3;
      width: 30px;
      height: 30px;
      border-radius: 10px;
      transition: 0.15s ease-in-out;

      &:hover {
        color: #fff;
        transform: scale(1.1, 1.1);
      }
      cursor: pointer;
      @media (max-width: 768px) {
        display: flex;
      }
    }
  }
}
