.code-block {
  background: $color-dark;
  color: $color-white;
  width: 600px;
  max-width: 100%;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
  margin: 20px auto 0;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.3);

  .code-block--header {
    margin-bottom: 15px;

    .code-block--header--ball {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: $color-primary;
      margin-right: 5px;
    }
  }

  pre {
    font-size: 16px;
    box-sizing: border-box;
    line-height: 28px;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 250px;
    max-height: 300px;
    overflow: auto;
  }

  &.code-block__min-height {
    min-height: 300px;
  }
}
