.size {
  width: 1200px;
  max-width: 90%;
}

.content {
  width: 100%;
  .block--content {
    padding: 100px 0;
    // border: 1px solid #ddd;
    box-sizing: border-box;
      .block--content--image {
        img {
          width: 700px;
          max-width: 100%;
        }
      }
  }
  .block--content-gray {
    background: $color-gray-light;
  }
  .block--content-primary {
    background: $color-primary;
  }
}
