.size {
  width: 1200px;
  max-width: 90%;
}

.content {
  width: 100%;

  .block--content {
    padding: 100px 0;
    box-sizing: border-box;

    .block--content--image {
      img {
        width: 600px;
        max-width: 100%;
      }
    }

    &.block--content__dashed-bg {
      background: url(./../img/dashed.svg), #fff;
      background-position: top center;
      background-size: 300px;
      background-repeat: repeat-y;
    }
  }

  .block--content-gray {
    background: $color-gray-light;
  }

  .block--content-primary {
    background: $color-primary;
    background: url(./../img/grid2.svg), linear-gradient(-90deg, $color-secundary, $color-primary);
    background-position: center -50px, 100%;
    background-size: 110%, 100%;
    background-repeat: repeat-x;
  }
}

.code-block pre::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background: transparent;
}

*.code-block pre::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

*.code-block pre::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $color-secundary;
  box-sizing: border-box;
}

.full-height {
  min-height: 100vh
}
