// default colors
$color-white: #fff;
$color-black: #333139;
$color-gray: #747474;
$color-gray-light: #FCF7FE;

// primary colors
$color-primary: #3F25A2;
$color-secundary: #5129D7;
$color-medium: #A591E2;
$color-light: #D1C8E9;
$color-dark: #231F4D;

$color1: #3F25A2;
$color2: #5129D7;
$color3: #A591E2;
$color3: #D1C8E9;
